@media print{

    h2.tm-section-title{
        color: #1812fd
    }
    
    .tm-sidebar, #about, .heading, .blocks, #ideas, #contact, .img-fluid{
        display: none;
    }
    
    .tm-banner-inner{
        padding: 0px;
        height: 220px;
    }
    
    .tm-main-content{
        width: 100%;
        margin-left: 1px;
    }
    
    .flex-2-col{
        display: block;
    }
    
    .tm-team-description-container{
        max-width: none;
    }
    
    .flex-item:not(:first-child){
        text-align: center;
    }
    
     .tm-footer{
        margin-top: 0px;
    }
    
    .pad{
        margin-top: -109px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 58px;
    }
   
}

@media screen{

   

    img.img-fluid.thumbnail {
        border-radius: 100%;
    }
    
     h2.tm-section-title-box:hover {
        font-weight: bold;
        color: #fff;
        background-color: #39b7db;
        
    }

    p:first-letter {
        color: #75d3de;
        font-size: 30px;
    }

    button.btn:hover {
        background-color: #2fabd0;
    }

    button.submit-btn {
        color: #fd0606;
    }

    input[type=text].form-control {
        color: #fd0606;
    }

    div.mandatory-field::after {
        content: "*";
        color: #fd0606;
        float: right;
    }

    

    .pad ol a:hover {
        color: #9cdbe2;
        text-decoration: underline double;
    }

    a.text::after {
        color: #fd0606;
        content: "New";
        position: relative;
        font-size: .7em;
        vertical-align: top;
    }
    
    li.tm-nav-item:not(:last-of-type) {
        border-bottom: 2px dotted #b9b9b9;
    }

    a.pad:visited {
        color: #b9b9b9;
    }

    .tm-content-box ul p {
        font-style: italic;
        font-size: 23px;
    }

    .tm-content-box ul p:first-letter {
        color: black;
    }

    .blocks li:nth-of-type(odd) {
        background-color: #f2f2f1;
    }

    .tm-content-box ul h2 {
        font-size: 46px;
    }
    h2 + p {
        font-style: italic;
    }

    .carousel-item.active h2 {
        color: #d3d3d3;
        letter-spacing: 5px;
    }

    .tm-sidebar, .tm-content-box {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    p:not(.tm-banner-text) {
        line-height: 32px;
        text-indent: 27px;
    }

    .tm-content-box {
        position: relative;
    }

    .tm-content-box::after {
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        position: absolute;
        border-top: 24px solid #31b0d5;
        border-right: 124px solid transparent;
    }

    .tm-content-box.flex-2-col:nth-child(2)::after {
        display: none;
    }
}

