$blue:#439af7;
$titleColor: $blue;

$h3Color:$blue;

$gray: #e5e6e6;
$imgBackground: $gray;

$white: white;
$background:$white;

$greenBlue: #039f8a;
$timeColor: $greenBlue;

$darkGrey: #b7b7b7;
$borderColor: $darkGrey;