$orange: #f9a356;
$titleColor: $orange;

$h3Color:#9c9c9f;

$white: white;
$imgBackground: $white;

$gray: #e0e1e1;
$background: $gray;

$lightGray: #a9adad;
$timeColor: $lightGray;

$borderColor: $lightGray;